script(type="text/x-handlebars", data-template-name="components/ivr-dial")
  div.row(id="ivr-dial-view")
    div.form-inline
      div.form-group
        {{#if isAction}}
        <span id="ivr-dial-nested-remove" class="glyphicon glyphicon-transfer va-inline-space"></span>
        {{/if}}
        label.form-control.va-action-label.va-inline-space DIAL
        {{input class="form-control va-ivr-tn va-inline-space" type="text" placeholder="Phone number" value=item.nouns.text}}
        label.form-control.va-action-label.va-inline-space after how many seconds
        {{input class="form-control va-ivr-sm-num va-inline-space" type="text" placeholder="Timeout" value=item.verb_attributes.timeout}}
        <span id="ivr-dial-remove" class="glyphicon glyphicon-remove-circle va-inline-space" {{action "removeIvrItemAction" view}}></span>
