script(type="text/x-handlebars", data-template-name="components/ivr-group")
  div.row(id="ivr-group-view")
    div.form-inline
      div.form-group
        {{#if action_for}}
        <span id="ivr-group-nested-remove" class="glyphicon glyphicon-transfer va-inline-space"></span>
        {{/if}}
        label.form-control.va-action-label.va-inline-space GROUP to use 
        {{view "select" content=item.params.group_names optionValuePath="content.id" optionLabelPath="content.name" value=item.nouns.text class="form-control va-inline-space va-ivr-lg-num"}}
        <span id="ivr-group-remove" class="glyphicon glyphicon-remove-sign va-inline-space" {{action "removeIvrItemAction" view}}></span>