script(type="text/x-handlebars", data-template-name="components/ivr-hangup")
  div.row(id="ivr-hangup-view")
    div.form-inline
      div.form-group
        label.form-control.va-action-label.va-inline-space HANGUP
        span#ivr-hangup-remove.glyphicon.glyphicon-remove-circle.va-inline-space
