script(type="text/x-handlebars", data-template-name="components/ivr-hangup")
  div.row(id="ivr-hangup-view")
    div.form-inline
      div.form-group
        {{#if isAction}}
        <span id="ivr-hangup-remove" class="glyphicon glyphicon-transfer va-inline-space"></span>
        {{/if}}
        label.form-control.va-action-label.va-inline-space HANGUP
        <span id="ivr-hangup-remove" class="glyphicon glyphicon-remove-circle va-inline-space" {{action "removeIvrItemAction" view}}></span>
