script(type="text/x-handlebars", data-template-name="components/ivr-message")
  div.row(id="ivr-message-view")
    div.form-inline
      div.form-group
        label.form-control.va-action-label.va-inline-space MESSAGE
        {{input class="form-control va-ivr-text va-inline-space" type="text" placeholder="Text" value=item.nouns.body}}
        label.form-control.va-action-label.va-inline-space to
        {{input class="form-control va-ivr-tn va-inline-space" type="text" placeholder="Blank for current caller" value=item.verb_attributes.to}}
        <span id="ivr-message-remove" class="glyphicon glyphicon-remove-circle va-inline-space" {{action "removeIvrItemAction" view}}></span>
