script(type="text/x-handlebars", data-template-name="components/ivr-play")
  div.row(id="ivr-play-view")
    div.form-inline
      div.form-group
        label.form-control.va-action-label.va-inline-space PLAY
        span#ivr-play-remove.glyphicon.glyphicon-remove-sign.va-inline-space
