script(type="text/x-handlebars", data-template-name="components/ivr-webtask")
  div.row(id="ivr-webtask-view")
    div.form-inline
      div.form-group
        {{#if isAction}}
        <span id="ivr-webtask-nested-remove" class="glyphicon glyphicon-transfer va-inline-space"></span>
        {{/if}}
        label.form-control.va-action-label.va-inline-space WEBTASK
        {{input class="form-control va-ivr-text va-inline-space" type="text" placeholder="Enter URL to the code to execute" value=item.nouns.text}}
        <span id="ivr-webtask-remove" class="glyphicon glyphicon-remove-sign va-inline-space" {{action "removeIvrItemAction" view}}></span>