script(type="text/x-handlebars", data-template-name="components/phone-numbers")
  div.row
    div.col-md-9
      table.table.table-hover
        thead
          th Phone Number
          th Capabilities
          th IVR Name
          th Actions
        <tbody>
        {{#each model.content as |number|}}
        <tr>
        <th scope="row"> {{#link-to "createIvr.edit" number.account_id number.id}}{{number.friendly_name}}{{/link-to}}</th>
        <td>
        <span {{bind-attr class=":glyphicon number.capabilities.voice:glyphicon-earphone:hidden"}} alt="Voice"></span>
        <span {{bind-attr class=":glyphicon number.capabilities.sms:glyphicon-comment:hidden"}} alt="SMS"></span>
        <span {{bind-attr class=":glyphicon number.capabilities.mms:glyphicon-picture:hidden"}} alt="MMS"></span>
        </td>
        <td>{{view "selects" action="selectChangeAction" content=model.names value=number.ivr_name prompt="-- No IVR --" class="form-control va-inline-space"}}</td>
        <td>
        <span class="glyphicon glyphicon-remove-circle red" {{action "removeNumberAction" number.id}}></span>
        <span class="glyphicon glyphicon-ok-circle" {{action "saveIvrChangeAction" number.id number.ivr_name}}></span>
        </td>
        </tr>
        {{/each}}
        </tbody>
