script(type="text/x-handlebars", data-template-name="components/x-modal")
  div.modal.fade
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
          h4.modal-title {{title}}
        div.modal-body
          {{yield}}
        div.modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") No
          <button class="btn btn-primary" type="button" {{action 'ok' data}}>Yes</button>
