script(type="text/javascript", src="/js/libs/jquery-1.11.2.min.js")
script(type="text/javascript", src="/js/libs/ember-template-compiler-12.js")
script(type="text/javascript", src="/js/libs/ember.debug-12.js")
script(type="text/javascript", src="/js/libs/ember-data-12.js")
script(type="text/javascript", src="/js/libs/bootstrap.min.js")
script(type="text/javascript", src="/js/libs/crypto/sha512.js")
script(type="text/javascript", src="/js/libs/crypto/enc-base64-min.js")
script(type="text/javascript", src="/js/libs/verimail.min.js")
script(type="text/javascript", src="/js/libs/moment.min.js", defer=true)
script(type="text/javascript", src="/js/libs/chart-1.0.2.min.js", defer=true)
script(type="text/javascript", src="/js/libs/modal.min.js", defer=true)
