include templates/application.jade
include templates/index.jade
include templates/register.jade
include templates/home.jade
include templates/home/account/index.jade
include templates/home/account/create.jade
include templates/home/numbers/index.jade
include templates/home/numbers/create.jade
include templates/home/ivr/index.jade
include templates/home/ivr/create.jade
include templates/components/login.jade
include templates/components/createAccount.jade
include templates/components/addPhoneNumber.jade
include templates/components/myPhoneNumbers.jade