include templates/application.jade
include templates/index.jade
include templates/register.jade
include templates/home.jade
include templates/home/account/index.jade
include templates/home/account/create.jade
include templates/home/numbers/index.jade
include templates/home/numbers/create.jade
include templates/home/ivr/index.jade
include templates/home/ivr/create.jade
include templates/home/dashboard/index.jade
include templates/home/configuration/index.jade
include templates/components/login.jade
include templates/components/createAccount.jade
include templates/components/addPhoneNumber.jade
include templates/components/availableNumbers.jade
include templates/components/ivrSay.jade
include templates/components/ivrDial.jade
include templates/components/ivrHangup.jade
include templates/components/ivrPause.jade
include templates/components/ivrReject.jade
include templates/components/ivrMessage.jade
include templates/components/ivrGather.jade
include templates/components/ivrEmail.jade
include templates/components/ivrRecord.jade
include templates/components/ivrWebtask.jade
include templates/components/phoneNumbers.jade
include templates/components/xmodal.jade
include templates/home/modals/remove-ivr-modal.jade
include templates/home/modals/remove-number-modal.jade
include templates/components/xgraph.jade
include templates/home/graphs/call-stats-graph.jade
include templates/home/graphs/sms-stats-graph.jade