.content_home {
	padding-top: 60px;
}
#message {
	padding-top: 50px;
	text-align: center;
	display: none;
}
.messageinner {
	padding: 5px !important;
}
.checkbox-inline {
	padding: 0px 10px !important;
}
#phone_list {
	padding-top: 10px !important;
}
.border {
	border-right: 1px solid #c0c0c0;
}
.va-inline-space {
	margin-right: 5px !important;
	margin-bottom: 5px !important;
}
.va-ivr-text {
	width: 450px !important;
}
.va-ivr-tn {
	width: 120px !important;
}
.va-ivr-sm-num {
	width: 50px !important;
}
.va-ivr-md-num {
	width: 100px !important;
}
.va-ivr-lg-num {
	width: 200px !important;
}
.va-action-label {
	background-color: #dff0d8 !important;
}
.tabbar {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
}
.add-num-box {
	padding: 0px 15px 15px 15px;
}
.red {
	color: red;
}
.green {
	color: green;
}