script(type="text/x-handlebars", data-template-name="groups/index")
  div.row
    div.col-md-9
      {{#link-to "groups.create"}}<button type="button" class="btn btn-primary">Add Group</button>{{/link-to}}
  div.row
    div.col-md-9
      {{#if model}}
      {{#each group in model}}
      <span>{{#link-to "groups.edit" group}}{{group.name}}{{/link-to}}</span>
      <span class="glyphicon glyphicon-remove-circle" {{action "removeGroupAction" group.id}}></span>
      {{/each}}
      {{/if}}