script(type="text/x-handlebars", data-template-name="group/create")
  div.row
    div.col-md-9
      p#helper-message Group name: {{input class="va-ivr-lg-num" type="text" value=model.name}}
  div.row
    div.col-md-9
      {{group-members model=sortedMembers action="takeAction" addMemberAction="addMember" groupName=model.name}}
  div.row
    div.col-md-9
      <button type="button" class="btn btn-default pull-right" {{action "cancelSaveGroupAction"}}>Cancel</button>
      <button type="button" class="btn btn-primary pull-right" {{action "saveGroupAction"}}>Finish</button>