script(type="text/x-handlebars", data-template-name="numbers/create")
  div.col-md-9
    {{add-phone-number model=model phoneList=phoneList getAvailableNumbersAction="getAvailableNumbers" buyPhoneNumbersAction="buyPhoneNumbers"}}
