script(type="text/x-handlebars", data-template-name="sms-stats-graph")
  {{#x-graph refresh="refreshAction" model=model}}
  p.text-center Top 10 SMSers
  <canvas id="{{model.canvasId}}" width="{{model.canvasW}}" height="{{model.canvasH}}"></canvas>
  {{/x-graph}}